/* 全局样式变量 */

// 页面
$doc-min-width = 1200px // 页面最小宽度

// 颜色
$main-bgcolor = #f1f1f1 // 主要背景色
$sub-bgcolor = #fff // 次要背景色
$main-color-1 = #fdd223 // 主要前景色1
$main-color-2 = #34d0d1 // 主要前景色2
$font-color = #162c5a // 字体颜色
$line-color = #ccc // 分割线颜色
$placeholder-color = #9a9a9a // 输入框占位字体颜色

// 字体
$font-family = -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif
$main-fsz = 14px // 主要字体大小
$title-fsz = 24px // 标题字体大小
$sub-title-fsz = 20px // 次标题字体大小
$l3-title-fsz = 18px // 三级标题字体大小（标题右侧文字）
$l4-title-fsz = 16px // 四级标题字体大小
